YOUTUBE_DLL RCDATA "youtube.dll"
PngImage_1 RCDATA "screenshot.png"
Resource_1 RCDATA "bin\\avcodec-62.dll"
Resource_2 RCDATA "bin\\avdevice-62.dll"
Resource_3 RCDATA "bin\\avfilter-11.dll"
Resource_4 RCDATA "bin\\avformat-62.dll"
Resource_5 RCDATA "bin\\avutil-60.dll"
PngImage_2 RCDATA "backswv-fb.png"
Resource_6 RCDATA "bin\\ffmpeg.exe"
Resource_7 RCDATA "bin\\ffplay.exe"
Resource_8 RCDATA "bin\\ffprobe.exe"
Resource_9 RCDATA "bin\\swresample-6.dll"
Resource_10 RCDATA "bin\\swscale-9.dll"
